@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&display=swap');

body {
  font-family: 'Sarabun', sans-serif;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
}

img {
  margin: 0;
}