.pages {
	background: url("../images/result-bg.png") no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	.result-container {
		padding: 0 16px 32px 16px;
		user-select: none;

		> .title {
			margin: 24px 0;
			font-size: 20px;
			font-weight: 600;
		}

		.card-filter-container {
			display: flex;

			.cards-container {
				width: 100%;
				display: grid;
				height: fit-content;
				grid-gap: 10px;
				gap: 10px;

				.not-found {
					text-align: center;
					margin-top: 90px;
				}
			}
		}
	}
	
	@media screen and (max-width: 768px) {
		.card-container {
			flex-direction: column;

			.cover-image {
				height: 224px;
				width: 100%;
			}
		}
	}
}

