.outer-dropdown {
	width: 100%;
	margin-top: 8px;
	position: relative;
	display: flex;

	.dropdown-container {
		border-radius: 4px;
		font-weight: 400;
		border: 1px solid #d9d9d9;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		position: relative;
		padding: 0 10px;
		font-size: 14px;
		width: 100%;

		> svg {
			color: rgba(0, 0, 0, 0.25);
			margin-right: 6px;

			&.down-arrow {
				position: absolute;
				margin-right: 0;
				right: 12px;
			}  
		}

		.dropdown-input {
			justify-content: space-between;
			width: 100%;
			background: white;
			border: 0;
			padding-right: 6px;
			outline: 0;
		}
	}

	/* dropdown */
	.dropdown {
		visibility: hidden;
		transform: scaleY(0.9);
		opacity: 0;
		flex-direction: column;
		max-height: 260px;
		width: 100%;
		overflow: auto;
		position: absolute;
		margin-left: 0;
		top: 34px;
		left: 0;
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
		transition: all 0.2s ease-in-out 0s, visibility 0.1s linear 0.1s,
			z-index 0s linear 0.01s;
		transform-origin: top;
		z-index: 1;

		&.active {
			visibility: visible; /* shows sub-menu */
			opacity: 1;
			z-index: 1;
			transform: scaleY(1);
			transition-delay: 0s, 0s, 0.3s;
			display: flex;
		}
	}

	li {
		padding: 6px 10px;
		margin: 0;
		display: flex;
		cursor: pointer;
		align-items: center;
		font-size: 14px;
		font-weight: 400;

		&.selected,
		&:active {
			font-weight: 700;
			background-color: rgb(207, 229, 236);
		}

		&:hover {
			background-color: #f8f8f8;
		}

		svg {
			margin-right: 6px;
		}
	}
	
	&.header-dropdown {
		border-right: 0;
		margin-top: 0;
		min-width: 192px;
		width: auto;

		.dropdown-container {
			border-radius: 8px 0 0 8px;
		}

		.dropdown {
			top: 44px;
		}

		&.large {
			width: 100%;
			min-width: unset;

			.dropdown-container {
				border-radius: 0;
				border-left: 0;
			}
		}

		@media screen and (max-width: 768px) {
			&.header-dropdown {
				display: none;
			}

			&.large {
				display: flex;

				.dropdown-container {
					border-radius: 8px 0 0 8px;
					border: 1px solid #d9d9d9;
				}
			}
		}

		> svg {
			font-size: 14px;
		}
	}

	// @media screen and (max-width: 768px) {
	// 	.dropdown.header-dropdown {
	// 		left: 0;
	// 		width: 100%;
	// 	}
	// }


}
