.filter-container {
	background-color: white;
	width: 360px;
	height: 100%;
	padding: 16px;
	border: 1px solid #e2e8f0;

	.filter-section {
		font-size: 16px;
		font-weight: 600;
		position: relative;
		margin-bottom: 20px;

		.dropdown {
      visibility: hidden;
      transform: scaleY(0.9);
      opacity: 0;
      flex-direction: column;
      height: 260px;
      width: 100%;
      overflow: auto;
      position: absolute;
      margin-left: 0;
      top: 60px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 5px 16px -5px rgba(232, 232, 232, 0.5);
      transition: all 0.2s ease-in-out 0s, visibility 0.1s linear 0.1s,
        z-index 0s linear 0.01s;
      transform-origin: top;

      &.active {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: scaleY(1);
        transition-delay: 0s, 0s, 0.3s;
        display: flex;
      }

      li {
        padding: 6px;
        margin: 0;
        display: flex;
        cursor: pointer;
        align-items: center;

        &.selected,
        &:active {
          font-weight: 600;
          background-color: rgb(207, 229, 236);
        }

        &:hover {
          background-color: #f8f8f8;
        }

        svg {
          margin-right: 6px;
        }
      }
    }

		.dropdown-container {
      width: 100%;
      border: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
			justify-content: space-between;
			cursor: pointer;
			border-radius: 4px;
			position: relative;
			margin-top: 8px;
			padding: 0 10px;
			font-size: 14px;

			> svg {
        color: rgba(0, 0, 0, 0.25);
				margin-right: 6px;

        &.down-arrow {
          position: absolute;
          margin-right: 0;
          right: 12px;
        }  
      }

			.dropdown-input {
        justify-content: space-between;
				width: 100%;
        background: white;
				border: 0;
				padding-right: 20px;
        outline: 0;
      }
		}

		.container {
			display: block;
			position: relative;
			padding-left: 24px;
			cursor: pointer;
			user-select: none;
			font-size: 14px;
			margin-top: 4px;
			font-weight: normal;

			&:first-child {
				margin-top: 20px;
			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
			}

			.checkmark {
				position: absolute;
				top: 50%;
				left: 0;
    		transform: translateY(-50%);
				height: 16px;
				width: 16px;
				border-radius: 50%;
				border: 1px solid #d9d9d9;

				&:after {
					content: "";
					position: absolute;
					display: none;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 8px;
					height: 8px;
					border-radius: 50%;
				}
			}

			&:hover input ~ .checkmark {
				border-color: #1890ff;
				transition: linear 0.2s;
			}

			input:checked ~ .checkmark {
				border-color: #1890ff;
				animation: pulse 1s;

				&:after {
					display: block;
					background-color: rgb(26, 144, 255);
				}
			}
		}
	}
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(26, 144, 255, 0.4);
  }
  70% {
		box-shadow: 0 0 0 5px  rgba(26, 144, 255, 0);
  }
  100% {
		box-shadow: 0 0 0 0 rgba(26, 144, 255, 0);
  }
}