.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: white;
  padding: 0 32px;

  .filter {
    display: none;

    img {
      height: 20px;
      width: auto;
    }
  }

  > .logo {
    height: 40px;
    width: auto;
    margin: 0;
    padding-right: 32px;

    &.mini {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    >.logo {
      padding-right: 0;

      &.big {
        display: none;
      }

      &.mini {
        display: block;
        padding: 0px 16px;
      }
    }

    &.header-container {
      padding: 0;
      justify-content: space-evenly;
    }

    .filter {
      display: flex;
      padding: 0px 16px;
    }
  }
  
  .search-bar {
    display: inline-flex;
    height: 40px;
    width: 74%;
    font-size: 14px;
    position: relative;

    .dropdown-container {
      min-width: 192px;
      border: 1px solid #d9d9d9;
			padding: 11px 10px;
      border-right: 0;
      display: flex;
      align-items: center;
			justify-content: space-between;
			cursor: pointer;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			position: relative;      

			> svg {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.25);
        margin-right: 6px;

        &.down-arrow {
          position: absolute;
          margin-right: 0;
          right: 12px;
        }  
      }
      
      .dropdown-input {
        justify-content: space-between;
				width: 100%;
        background: white;
				border: 0;
				padding-right: 20px;
        outline: 0;
      }
    }

    .search-button {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border: 0;
      padding: 0 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #d9d9d9;
      border-left: 0;
      background-color: #f8f8f8;
    }

    @media screen and (max-width: 768px) {
      .dropdown-container {
        display: none;
      }

      > input {
        border-top-left-radius: 8px;
			  border-bottom-left-radius: 8px;
        font-size: 16px;
      }
    }

    > input {
      padding: 11px;
      width: 100%;
      border: 1px solid #d9d9d9;
      border-right: 0;
    }

    .dropdown {
      visibility: hidden;
      transform: scaleY(0.9);
      opacity: 0;
      flex-direction: column;
      max-height: 260px;
      width: 192px;
      overflow: auto;
      position: absolute;
      margin-left: 0;
      top: 40px;
      left: 0;
      background-color: white;
      border-radius: 2px;
      box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
      transition: all 0.2s ease-in-out 0s, visibility 0.1s linear 0.1s,
        z-index 0s linear 0.01s;
      transform-origin: top;

      &.large {
        height: 160px;
        width: 65%;
        left: 192px;
      }

      &.active {
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: scaleY(1);
        transition-delay: 0s, 0s, 0.3s;
        display: flex;
      }

      li {
        padding: 6px 10px;
        margin: 0;
        display: flex;
        cursor: pointer;
        align-items: center;

        &.selected,
        &:active {
          font-weight: 600;
          background-color: rgb(207, 229, 236);
        }

        &:hover {
          background-color: #f8f8f8;
        }

        svg {
          margin-right: 6px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .dropdown.large {
        left: 0;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .search-bar {
      width: 76%;
    }
  }

  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}

