.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: white;
  padding: 0 32px;
  width: 100%;
  justify-content: center;

  .filter {
    display: none;

    img {
      height: 20px;
      min-width: 20px;
    }
  }

  > .logo {
    height: 40px;
    width: auto;
    margin: 0;
    padding-right: 32px;

    &.mini {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    >.logo {
      padding-right: 0;

      &.big {
        display: none;
      }

      &.mini {
        display: block;
        padding: 0px 16px;
      }
    }

    &.header-container {
      padding: 0;
      justify-content: space-evenly;
    }

    .filter {
      display: flex;
      padding: 0px 16px;
    }
  }
  
  .search-bar {
    display: inline-flex;
    height: 40px;
    width: 80%;
    font-size: 14px;
    position: relative;

    .search-button {
      border-radius: 0 8px 8px 0;
      border: 0;
      padding: 0 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #d9d9d9;
      border-left: 0;
      background-color: #f8f8f8;
    }

    > input {
      padding: 11px;
      width: 100%;
      border: 1px solid #d9d9d9;
      border-right: 0;
    }

    @media screen and (max-width: 768px) {
      > input {
        border-top-left-radius: 8px;
			  border-bottom-left-radius: 8px;
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .search-bar {
      width: 76%;
    }
  }
}

